@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

header{
  z-index: 10001 !important;
}

#toastMessageSuccess, #toastMessageError {
  z-index: 10002 !important;
}

#modal {
  z-index: 10003 !important;
}

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-primary: #2EF29E;
  --color-secondary: #00A652;
  --color-green-250: #96FCA6;
  --color-background: #141A1A;
}

[data-initials]:before {
  background: #2EF29E;
  color: #141A1A;
  opacity: 1; 
  content: attr(data-initials); 
  display: inline-block; 
  font-weight: bold; 
  border-radius: 50%; 
  vertical-align: middle; 
  margin-right: 0.5em; 
  width: 50px; 
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
}